<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>The most popular electronic gifts right now</h1>
        <h2>make happy your loved ones</h2>
        <div class="content">
            {% for item in products %}
                <div class="card">
                    <div class="card_top">
                        <h3>{{loop.index}}</h3>
                        <p>{{item.names}}</p> 
                    </div>
                    <img src={{item.images}} alt="">
                    <div class="card_bottom">
                        <p>{{item.prices}}</p>
                        <a href="https://www.amazon.com/{{item.links}}" target="_blank"> Buy me</a> 
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>

